<li>
	{{burger_name}}

	<div style="text-align: right"> <button class="change-state btn-info" data-id="{{id}}" data-newstate="{{devoured}}">
		{{#if devoured}}Eaten!{{else}}Eat!{{/if}}
	</button>
	</div>

</li>
